/node_modules
/public/hot
/public/bower
/public/images
/public/storage
/public/bower
/public/uploads
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
/composer.lock
.env
