body {
    background-image: url('../images/c.jpg');
    font-family: Times, Times New Roman, Georgia, serif;
}
#fh5co-pricing
{
    padding:0px !important;
}
.content {
    border: 2px solid #ddd;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 40px;
    position: relative;
    transition: 0.5s;
    background-color: rgb(248, 248, 248);
}
.order_booking{
    border: 1px solid white;
    text-align: center;
    margin:20px;
    border-radius: 10px;
    background: #fff !important;
}
#order_booking .content {
    background-color: #fff !important;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px 3px #f1f1f1;
}
.box-info p
{
    font-size:21px;
    margin: 0 !important;
}
.box-info .box-sub-info {
    padding: 0px;
}
.box-info .box-sub-info > div {
    height: 170px;
    border-bottom: 1px solid #f1f1f1;
}
.box-info .box-sub-info > div hr {
    margin-top: -10px;
}
.box-info .success_booking { 
    font-size:47px !important;
    margin-bottom: 40px;
 }
.box-info .success_booking h2{
    color: #5cb85c;
    font-weight: bold;
    font-family: Tahoma;
}
.box-info .success_booking i{
    margin-right: 10px;
 }
.box-info .success_thank {
    font-size:27px !important;
}

.box-info .label-success {
    background-color: rgba(92, 184, 92, 0.82) !important;
}
.success_booking .fa-check
{
    color: #5cb85c;
}
.button {
    border:1px solid white;
    margin-bottom: 15px;
}

.customer-info {
    margin-left: 30% !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    text-transform: uppercase;
    font-size: 22px !important;
}
.success_booking {
    margin-bottom: 10px;
}
p.label-success {
    margin-bottom: 10px;
}
.right-border:after {
    content : "";
    position: absolute;
    right    : 0;
    top  : 0;
    width  : 1px;
    height   : 144px;  /* or 100px */
    background: #eee;
}
.text-center .name {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px !important;
}
.box-info .text-center {
    margin-top: 10px;
}
.exit-btn
{
    margin: 20px;
}
.logo-img {
    margin-left: 31%;
}
.logo-img img{
    width:383px !important;
}

#fh5co-pricing .price-box {
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 40px;
    position: relative;
    transition: 0.5s;
    background-color:#fff;
}

.price-box label.search-name-input{
    position: absolute;
    left: 45px;
    top: 106px;
}
.price-box label.search-phone-input
{
    position: absolute;
    left: 45px;
    top: 175px;
}

label.search-name-input, label.search-phone-input {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.price-box .name-input ,.price-box .phone-input {
    padding-left: 49px !important;
}

.search-name-input:after, .search-phone-input:after
{
    content : "";
    position: absolute;
    left:27px;
    top: -1px;
    right    : 0;
    z-index: 100;
    width:2px;
    background: #eee;
    height: 25px;
}
.box-info .fa
{
    color: #5cb85c;
}
.price-box .form-name {
    
    text-transform: uppercase !important;
}
.price-box .form-name h4 {
    color: #5e70ee !important;
    text-shadow: 2px 2px 4px #ccc;
    font-weight: bold;
}
.ul-booking {
    margin-top: 15px;
    margin-left: -21px !important;
    width:100%;
}
.li-booking {
    width: 49.5%;
    border:1px solid #ddd;
    list-style-type: none;
    margin-bottom: 5px;
    display: inline-block;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.28);
}
.li-booking:hover
{
    background-color: #7f7f7f;
    border: 1px solid #ccc;
}

.li-booking:hover a, .li-booking:hover span
{
    color: #fff !important;
    transition: 0.5s;
}
.li-booking .span_address {
    width: 100%;
    text-align: center;
    font-family: Arial Regular;
    color: #555;
    font-size: 14px;
    float: left;
}
.a-booking {
    font-size: 20px;
    padding: 12px 10px!important;
    color: #1a1a1a;
    font-family: Arial Bold;
    border: 0;
    width: 100%;
    text-align: center;
    text-decoration: none !important;
}

.full_booking {
    background-color: red !important;
}

#fh5co-pricing .price-box:hover {
    transition: 0.5s;

}
.choose-department a {
    color: #333 !important;
    text-decoration: none;
    width: 100%;
    height: 100px;
    cursor: pointer;
}
#choice_list_time .price-box:hover {
    box-shadow: none;
}

.wrap-stylist-choice select
{
    width: 400px !important;
}

.wrap-stylist-choice:before {
    content : "";
    position: absolute;
    right    : 0;
    z-index: 100;
    top  : 0;
    width  : 1px;
    height   : 100%;  /* or 100px */
    background: #eee;
}
.wrap-choose-date
{
    margin-top:55px;
}

.ul-date-booking
{
    margin-left: -8% !important;
    width:100%;
}
.li-date-booking
{
    width: 32%;
    border:1px solid #ddd;
    list-style-type: none;
    margin-bottom: 5px;
    display: inline-block;
    background-color: #f7f7f7;
}
.li-date-booking:hover
{
    background-color: #7f7f7f;
    border: 1px solid #ccc;
}
.li-date-booking:hover a, .li-date-booking:hover span
{
    color: #fff !important;
    transition: 0.5s;
}
.li-date-booking .span_address {
    width: 100%;
    text-align: center;
    font-family: Arial Regular;
    color: #555;
    font-size: 27px;
    float: left;
}
.booking-time button
{
    padding: 16px;
    line-height: 15px;
    font-size: 15px;
    margin-top: 15px;
}

.ul-booking-time
{
    width: 100%;
    float: left;
}
.li-booking-time
{
    border: 1px solid rgba(8, 8, 7, 0.18);
    list-style-type: none;
    width: 19%;
    box-shadow: 1px 2px 2px #888;
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 3px 3px;
}
.a-time-booking
{
    font-size: 27px;
    font-weight: bold;
    color: #6173f4;
    text-decoration: none !important;
    /*cursor: default !important;*/
}
.bottom-div-status
{
    width:100%;
    height: 25px;
    background-color: green;
}
.available-booking .bottom-div-status
{
    width:100%;
    height: 25px;
    background-color: #5cb85c !important;
}

.available-booking:hover .bottom-div-status
{
    background-color: #767676 !important;
}

.bottom-div-status span
{
    color: #fff;
    font-weight: bold;
}
.available-booking:hover
{
    cursor: pointer;
    background-color: #1d1d1d;
}
.available-booking:hover .bottom-div-status
{
    cursor: pointer !important;
}

.available-booking:hover .a-time-booking
{
    color: #fff;
}

/*Booking3 css*/
.themed-background {
    background-color: #6072f3;
}
.circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    font-size: 42px;
    color: #ffffff;
    border-radius: 50px;
    margin-bottom: 15px;
    transition: all ease-out 0.25s;
}
.circle:hover, .circle:focus {
    color: #ffffff;
    text-decoration: none;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.wrap-icon-step
{
    margin-left: 37%;
}

.wrap-icon-step img
{
    margin-left: 5%;
}
.section-heading
{
    padding-bottom: 0px !important;
}
.wrap-icon-step strong
{
    margin-left: -18%;
    color: #6072f3;
}
.wrap-icon-step h4
{
    text-shadow: 1px 1px 4px #888888;
    color: #5d5a5a !important;
}
.content-step
{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.content-step2
{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.content-step3
{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.wrap-step
{
    margin-bottom: 20px;
    margin-left: 6%;
    margin-right: auto;
    width: 85%;
}
.price-box
{
    width:60%;
    margin-left: auto;
    margin-right: auto;
}
.info-group-form .form-group
{
    margin-bottom: 25px;
    margin-top:20px;
}
.info-group-form button
{
    color: #fff;
    width: 57%;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
    text-shadow: 1px 1px 1px #ccc;
}
.step-button:hover
{
    background-color: #6173f4 !important;
    opacity: 0.8;
    text-shadow: 1px 1px 3px #ccc;
}
#fh5co-pricing
{
    background-image: url('/images/bg.jpg');
}
#fh5co-pricing .section-heading h2
{
    color: #fff !important;
}
.section-heading h2:after
{
    left:49.3% !important;
}
#choice_list_time .price-box
{
    width: 100% !important;
}
.active2
{
    background-color: #6072f3 !important;
}
.li-booking .den
{
    border-radius: 5px;
}
.overlap
{
    position: absolute;
    background-color: hsla(0,0%,98%,.5);
    width: 101px;
    height: 100px;
    border-radius: 50%;
    top: 0%;
    left: 38%;
}
.wrap-overlap
{
    position: relative;
}
.department-group-form button
{
    width: 42%;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
    text-shadow: 1px 1px 1px #ccc;
}
.info-circle
{
    transition: all 0.5 ;
}
.booking_btn
{
    background-color:#6072f3 !important;;
    border-color: #6072f3 !important;
}
.prev-step
{
    margin-right: 15px;
}
.search-name-input i, .search-phone-input i
{
    font-size: 23px;
}
/*End booking3 css*/
@media screen and (max-device-width: 480px) {
    .li-booking-time
    {
        width: 30% !important;
    }
    .choice_address .price-box 
    {
        padding:0px !important;
    }
    .choose-department .den
    {
        border:none !important;
    }
    .wrap-stylist-choice select {
        width: 100% !important;
    }
    .choice_address .form-group
    {
        padding: 30px !important;
    }
    .li-date-booking {
        width: 100%;
    }
    .wrap-booking-time .wrap-all-item
    {
        margin-left: -13px;
    }
    .wrap-booking-time .booking-time
    {
        margin-bottom: 20px;
    }
}

@media screen and (min-device-width: 480px) and (max-device-width: 768px) {
    .choice_address .form-group
    {
        padding: 30px !important;
    }
    .wrap-stylist-choice select {
        width: 100% !important;
    }
    .wrap-booking-time .wrap-all-item
    {
        margin-left: -13px;
    }
    .wrap-booking-time .booking-time
    {
        margin-bottom: 20px;
    }
    .wrap-choose-date
    {
        margin-left: 45px;
    }
    .right-border:after {
        background: #fff !important;
    }
}

