body {
    background-image: url('../images/c.jpg');
    font-family: Times, Times New Roman, Georgia, serif;
}
.content {
    border-radius: 10px;
    border: 1px solid rgba(204, 204, 204, 0.26);
    box-shadow: 2px 5px 5px #888888;
    background-color: rgb(248, 248, 248);
}
.order_booking{
    border: 1px solid white;
    text-align: center;
    margin:20px;
    border-radius: 10px;
}
.top_success { 
    margin-top: 10px;
 }
.box-info p
{
    font-size:21px;
}
.box-info .success_booking { 
    font-size:37px !important;
 }
.box-info .success_thank {
    font-size:27px !important;
}

.box-info .label-success {
    background-color: rgba(92, 184, 92, 0.82) !important;
}
.fix-top {
    padding:100px;
}
.success_booking .fa-check
{
    color: #5cb85c;
}
.button {
    border:1px solid white;
    margin-bottom: 15px;
}

.customer-info {
    margin-left: 30% !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    text-transform: uppercase;
    font-size: 22px !important;
}
.success_booking {
    text-shadow: 1px 2px 2px #888888;
    margin-bottom: 10px;
}
p.label-success {
    margin-bottom: 10px;
}
.right-border:after {
    content : "";
      position: absolute;
      right    : 0;
      z-index: 100;
      top  : 0;
      width  : 1px;
      height   : 144px;  /* or 100px */
      background: #eee;
}
.text-center .name {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px !important;
}
.box-info .text-center {
    margin-top: 10px;
}
.exit-btn
{
    margin-bottom: 20px;
    margin-left: 20px;
}
.logo-img {
    margin-left: 31%;
}
.logo-img img{
    width:383px !important;
}
/*.box h3 {
    border-bottom:1px solid white;margin:15px 300px;
}*/
/*
.box-info a {
    text-decoration: none;
    color:white;
}
*/ @media screen and (max-width: 480px) {
    }
