body {
    color:white;
    background-image: url('../images/c.jpg');
}
.content {
    border-radius: 10px;
}
.order_booking{
    border: 1px solid white;
    text-align: center;
    margin:20px;
    border-radius: 10px;
}
.top_success { 
    margin-top: 10px;
 }
.box-info p
{
    font-size:17px;
}
.box-info .success_booking { 
    font-size:37px !important;
 }
.box-info .success_thank {
    font-size:27px !important;
}
.content {
    background-color: #1a0000;
}

.fix-top {
    padding:100px;
}

.button {
    border:1px solid white;
    margin-bottom: 15px;
}

/*.box h3 {
    border-bottom:1px solid white;margin:15px 300px;
}*/
/*
.box-info a {
    text-decoration: none;
    color:white;
}
*/ @media screen and (max-width: 480px) {
    }
