.name-agile{
    width:50%;
    float:left;
}

.font_bill {
    font-family: Times, Times New Roman, Georgia, serif;
}

.icon_salon {
    padding-top: 15px;
}

.fix_size_icon {
    width: 119px; height:99px;
}

.border_bill {
    border:1px solid black;
}

.fix_padding {
    padding: 4px;margin: 0px;
}

.border_botton {
    border-bottom: 1px solid black;
    padding: 0px;
}
.border_botton_total {
    padding: 0px;
}

.total_bill {
    border-top:1px solid black;padding:  0px;
}

.footer {
    border-bottom:1px solid black;
}


.fix-label{
    margin:0px 265px;
    font-family: Times, Times New Roman, Georgia, serif;
}

.modal-header h3 , .modal-header h4{
    font-family: Times, Times New Roman, Georgia, serif;
}

.border-content {
    border-radius: 13px;
    box-shadow: 10px 9px 1px 0px rgba(0,0,0,0.2);
    font-family: Times, Times New Roman, Georgia, serif;
}
