.name-agile{
    width:50%;
    float:left;
}

.font_bill {
    font-family: Times, Times New Roman, Georgia, serif;
}

.icon_salon {
    padding-top: 15px;
}

.fix_size_icon {
    width: 119px; height:99px;
}

.border_bill {
    border:1px solid black;
}

.fix_padding {
    padding: 4px;margin: 0px;
}

.border_botton {
    border-top:1px solid black;border-bottom: 1px solid #fff;padding: 0px;
}

.total_bill {
    border-top:1px solid black;padding:  0px;
}

.footer {
    border-bottom:1px solid black;
}
