.over-flow-edit
{
    overflow: scroll ;
}

.get-color-icon-edit
{
    color:red;
}

.get-color-icon-delete
{
    color:black;
}

.profile-user-img {
    border-radius: 50% !important;
}

#list_service {
    margin-top: 10px;
}

#bar-chart {
  width: 450px;
  height: 300px;
  position: relative;
}

.modal-header h3 , .modal-header h4{
    font-family: Times, Times New Roman, Georgia, serif;
}

.border-content {
    border-radius: 13px;
    box-shadow: 10px 9px 1px 0px rgba(0,0,0,0.2);
    font-family: Times, Times New Roman, Georgia, serif;
}
#menu2 {
    overflow: scroll;
    height: 400px;
}

.fix-row {
  padding:10px 0px;
}

.fix-row div {
  font-family: Times, Times New Roman, Georgia, serif;
}

.indicator {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    text-align: center;
    position: absolute;
    opacity: .7;
    z-index: 200;
}

.indicator .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    background: url(../../images/AjaxLoader.gif) no-repeat center;
    background-size: cover;
}

.search_customer {
    padding:1px 0px;
}

#myInput {
    padding:4px;

}

#Myinput {
    width: 100%;
}

#search_department {
    padding:4px 8px;
}

.create_customer, .create_service, .create_department {
    background: transparent;
    border: none;
    border-bottom: 1px dashed rgba(81, 203, 238, 1);
}

#sel1 {
    padding:0px;
}

.fix-button-creat-customer
{
    margin-top:10px;
}

.content_create_customer {
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
}

.col-sm-4 label , #specialize {
     color: #7c795d; font-family: 'Trocchi', serif;font-weight: normal; line-height: 48px; margin: 0;
}

}

#search_department {
    padding:4px 8px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
{
    background-color: #00c0ef!important;
    border: 1px solid #00c0ef!important;
}
/*#specialize {
    margin-left: -300px !important;
}*/
.label_service ,.label_department, .label_bill {
    color: #7c795d; font-family: 'Trocchi', serif;font-weight: normal; line-height: 48px; margin: 0;
}

.status_width {
    width: 57px;
}

.flexbox-grid-form,
.flexbox-grid-form-item {
    padding:0px;
    padding-right: 0px;
    margin-top: 4px;
}

.flexbox-grid-form-item1 {
    padding-right: 0px;
}
 
.flexbox-grid-form-input {
    border-radius: 4px;
}

.form-horizontal {
    background-color: #ebeef0;
    padding :25px 20px;
    border-bottom: 1px solid #d2cccc;
}

.flexbox-annotated-section-content {
    background-color: #fff;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow:5px 5px 5px -5px #333;
    border-bottom: 1px solid #fff;
}

.textarea-auto-height {
    resize: none; height: 54px;
}

.button-edit-customer {
    padding-left: 110px;
}

#about_customer {
    margin-top: 10px;
}

#infor_customer {
    height: 270px;
}

#bill_image { 
    height: 200px;
 }
.start-end-date {
    padding:30px 10%;
}

.start-end-date .date-form label {
    font-size: 18px !important;
}

.start-end-date .date-form input {
    border-radius: 5px;
    height: 40px;
}    
.grid-image {
    height: 400px;
    overflow: scroll;
}
#all-images .modal-body {
    padding: 0px 15px;
}
.image-item img{
    width: 145px;
    height: 189px;
    float: left;
    margin: 10px;
    border-radius: 0px;
}
.image-item img:hover {
    opacity: 0.8;
    border: 2px solid #3366ff;

}

.image-item-profile img {
    margin-left: 7px !important;
    width: 200px;
    height: 200px;
    float: left;
    margin: -2px;
    border-radius: 0px;
}

.total_bill_user {
    margin-right: 138px;
}
.scoll-time {
    height: 300px;
    overflow: scroll;
}

.scroll_bill {
    width: 100%;
    /*overflow: scroll;*/
}
#scroll_image {
    overflow: scroll;
    height: 300px;
}
#infor_bill_customer{
    height: 324px;
}
#settings {
    overflow: scroll;
    height: 400px;
},
/*upload images*/
.Image-input {
    display: flex;
}

.Image-input__image-wrapper {
    flex-basis: 80%;
    height: 150px;
    flex: 2.5;
    border-radius: 1px;
    margin-right: 10px;
    overflow-y: hidden;
    border-radius: 1px;
    background: #eee;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Image-input__image-wrapper > .icon {
    color: #ccc;
    font-size: 50px;
    cursor: default;
}

.Image-input__image {
    max-width: 100%;
    border-radius: 1px;
}

.Image-input__input-wrapper {
    overflow: hidden;
    position: relative;
    background: #eee;
    border-radius: 1px;
    float: left;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.2);
    transition: 0.4s background;
}

.Image-input__input-wrapper:hover {
    background: #e0e0e0;
}


.Image-input__input {
    cursor: inherit;
    display: block;
    font-size: 999px;
    min-height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
/*end upload images*/
.back-homepage
{
    padding: 15px 50px;
    display: inline-block;
    position: absolute;
    right: 10%;
}
.back-homepage
{
    color: #fff;
    background-color: transparent;
}
.back-homepage:hover
{
    color: #fff;
    background-color: #367fa9;
}

.permistion_profile {
    list-style-type: none;
}

/*css for b.ill*/

.infor_bill {
    margin-top: 100px;
    height: 100px;
}

#hr_bill_infor {
    margin-top: 33px;
    width: 96%;
}

#image_logo_bill {
    margin-top: -20px;
    margin-left: -22px;
}

#infor_fsalon {
    margin-top: -10px;
}

.price_servive {
    padding-left: 100px !important;
}
.price_servive_all {
    padding-left: 100px !important;

}

#total_service {
    margin-left: 300px;
    margin-top: -20px;
    font-size: 15px;
}
