.over-flow-edit
{
    overflow: scroll ;
}

.get-color-icon-edit
{
    color:red;
}

.get-color-icon-delete
{
    color:black;
}

#bar-chart {
  width: 450px;
  height: 300px;
  position: relative;
}

.modal-header h3 , .modal-header h4{
    font-family: Times, Times New Roman, Georgia, serif;
}

.border-content {
    border-radius: 13px;
    box-shadow: 10px 9px 1px 0px rgba(0,0,0,0.2);
    font-family: Times, Times New Roman, Georgia, serif;
}

.fix-row {
  padding:10px 0px;
}

.fix-row div {
  font-family: Times, Times New Roman, Georgia, serif;
}
