.over-flow-edit
{
    overflow: scroll ;
}

.get-color-icon-edit
{
    color:red;
}

.get-color-icon-delete
{
    color:black;
}

#bar-chart {
  width: 450px;
  height: 300px;
  position: relative;
}

.modal-header h3 , .modal-header h4{
    font-family: Times, Times New Roman, Georgia, serif;
}

.border-content {
    border-radius: 13px;
    box-shadow: 10px 9px 1px 0px rgba(0,0,0,0.2);
    font-family: Times, Times New Roman, Georgia, serif;
}

.fix-row {
  padding:10px 0px;
}

.fix-row div {
  font-family: Times, Times New Roman, Georgia, serif;
}

.indicator {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    text-align: center;
    position: absolute;
    opacity: .7;
    z-index: 200;
}

.indicator .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    background: url(../../images/AjaxLoader.gif) no-repeat center;
    background-size: cover;
}

.search_customer {
    padding:1px 0px;
}

#myInput {
    padding:4px;

}

#search_department {
    padding:4px 8px;
}

.create_customer, .create_service, .create_department {
    background: transparent;
    border: none;
    border-bottom: 1px dashed rgba(81, 203, 238, 1);
}

#sel1 {
    padding:0px;
}

.fix-button-creat-customer
{
    margin-top:10px;
}

.content_create_customer {
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
}

.col-sm-4 label , #specialize {
     color: #7c795d; font-family: 'Trocchi', serif;font-weight: normal; line-height: 48px; margin: 0;
}

}

#search_department {
    padding:4px 8px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
{
    background-color: #00c0ef!important;
    border: 1px solid #00c0ef!important;
}
/*#specialize {
    margin-left: -300px !important;
}*/
.label_service ,.label_department, .label_bill {
    color: #7c795d; font-family: 'Trocchi', serif;font-weight: normal; line-height: 48px; margin: 0;
}

.status_width {
    width: 57px;
}

.flexbox-grid-form,
.flexbox-grid-form-item {
    padding:0px;
    padding-right: 0px;
    margin-top: 4px;
}

.flexbox-grid-form-item1 {
    padding-right: 0px;
}
 
.flexbox-grid-form-input {
    border-radius: 4px;
}

.form-horizontal {
    background-color: #ebeef0;
    padding :25px 20px;
    border-bottom: 1px solid #d2cccc;
}

.flexbox-annotated-section-content {
    background-color: #fff;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow:5px 5px 5px -5px #333;
    border-bottom: 1px solid #fff;
}

.textarea-auto-height {
    resize: none; height: 54px;
}

.button-edit-customer {
    padding-left: 110px;
}

#about_customer {
    margin-top: 10px;
}

#infor_customer {
    height: 270px;
}

#bill_image { 
    height: 200px;
 }
.start-end-date {
    padding:30px 10%;
}

.start-end-date .date-form label {
    font-size: 18px !important;
}

.start-end-date .date-form input {
    border-radius: 5px;
    height: 40px;
}    
.grid-image {
    height: 500px;
    overflow: scroll;
}
#all-images .modal-body {
    padding: 0px 15px;
}
.image-item img{
    width: 200px;
    height: 200px;
    float: left;
    margin: 6px;
    border-radius: 0px;
}
.image-item img:hover {
    opacity: 0.8;
    border: 2px solid #3366ff;

}

.scoll-time {
    height: 300px;
    overflow: scroll;
}
