/*.over-flow-edit
{
    overflow: scroll ;
}*/

.get-color-icon-edit
{
    color:red;
}

.get-color-icon-delete
{
    color:black;
}

.profile-user-img {
    border-radius: 50% !important;
}

#list_service {
    margin-top: 10px;
}

#bar-chart {
  width: 450px;
  height: 300px;
  position: relative;
}

.modal-header h3 , .modal-header h4{
    font-family: Times, Times New Roman, Georgia, serif;
}

.border-content {
    border-radius: 13px;
    box-shadow: 10px 9px 1px 0px rgba(0,0,0,0.2);
    font-family: Times, Times New Roman, Georgia, serif;
}
#menu2 {
    overflow: scroll;
    height: 400px;
}

.fix-row {
  padding:10px 0px;
}

.fix-row div {
  font-family: Times, Times New Roman, Georgia, serif;
}

.indicator {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    text-align: center;
    position: absolute;
    opacity: .7;
    z-index: 200;
}

.indicator .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    background: url(../../images/AjaxLoader.gif) no-repeat center;
    background-size: cover;
}

.search_customer {
    padding:1px 0px;
}

#myInput {
    padding:4px;

}

#Myinput {
    width: 100%;
}

#search_department {
    padding:4px 8px;
}

.create_customer, .create_service, .create_department {
    background: transparent;
    border: none;
    border-bottom: 1px dashed rgba(81, 203, 238, 1);
}

#sel1 {
    padding:0px;
}

.fix-button-creat-customer
{
    margin-top:10px;
}

.content_create_customer {
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);
}

.col-sm-4 label , #specialize {
     color: #7c795d; font-family: 'Trocchi', serif;font-weight: normal; line-height: 48px; margin: 0;
}

}

#search_department {
    padding:4px 8px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
{
    background-color: #00c0ef!important;
    border: 1px solid #00c0ef!important;
}
/*#specialize {
    margin-left: -300px !important;
}*/
.label_service ,.label_department, .label_bill {
    color: #7c795d; font-family: 'Trocchi', serif;font-weight: normal; line-height: 48px; margin: 0;
}

.status_width {
    width: 57px;
}

.flexbox-grid-form,
.flexbox-grid-form-item {
    padding:0px;
    padding-right: 0px;
    margin-top: 4px;
}

.flexbox-grid-form-item1 {
    padding-right: 0px;
}
 
.flexbox-grid-form-input {
    border-radius: 4px;
}

.form-horizontal {
    background-color: #ebeef0;
    padding :25px 20px;
    border-bottom: 1px solid #d2cccc;
}

.flexbox-annotated-section-content {
    background-color: #fff;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow:5px 5px 5px -5px #333;
    border-bottom: 1px solid #fff;
}

.textarea-auto-height {
    resize: none; height: 54px;
}

.button-edit-customer {
    padding-left: 110px;
}

#about_customer {
    margin-top: 10px;
}

#infor_customer {
    height: 270px;
}

#bill_image { 
    height: 200px;
 }
.start-end-date {
    padding:30px 10%;
}

.start-end-date .date-form label {
    font-size: 18px !important;
}

.start-end-date .date-form input {
    border-radius: 5px;
    height: 40px;
}    
.grid-image {
    height: 400px;
    overflow: scroll;
}
#all-images .modal-body {
    padding: 0px 15px;
}
.image-item img{
    width: 145px;
    height: 189px;
    float: left;
    margin: 10px;
    border-radius: 0px;
}
.image-item img:hover {
    opacity: 0.8;
    border: 2px solid #3366ff;

}

.image-item-profile img {
    margin-left: 7px !important;
    width: 200px;
    height: 200px;
    float: left;
    margin: -2px;
    border-radius: 0px;
}

.total_bill_user {
    margin-right: 138px;
}
.scoll-time {
    height: auto;
    /*overflow: scroll;*/
}

.scroll_bill {
    width: 100%;
    /*overflow: scroll;*/
}
#scroll_image {
    overflow: scroll;
    height: 300px;
}
#infor_bill_customer{
    height: 324px;
}
#settings {
    overflow: scroll;
    height: 400px;
},
/*upload images*/
.Image-input {
    display: flex;
}

.Image-input__image-wrapper {
    flex-basis: 80%;
    height: 150px;
    flex: 2.5;
    border-radius: 1px;
    margin-right: 10px;
    overflow-y: hidden;
    border-radius: 1px;
    background: #eee;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Image-input__image-wrapper > .icon {
    color: #ccc;
    font-size: 50px;
    cursor: default;
}

.Image-input__image {
    max-width: 100%;
    border-radius: 1px;
}

.Image-input__input-wrapper {
    overflow: hidden;
    position: relative;
    background: #eee;
    border-radius: 1px;
    float: left;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.2);
    transition: 0.4s background;
}

.Image-input__input-wrapper:hover {
    background: #e0e0e0;
}


.Image-input__input {
    cursor: inherit;
    display: block;
    font-size: 999px;
    min-height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
/*end upload images*/
.back-homepage
{
    padding: 15px 50px;
    display: inline-block;
    position: absolute;
    right: 10%;
}
.back-homepage
{
    color: #fff;
    background-color: transparent;
}
.back-homepage:hover
{
    color: #fff;
    background-color: #367fa9;
}
/*kanban board css*/

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}

.kanban-centered {
    position: relative;
    margin-bottom: 30px;
}

.kanban-centered:before, .kanban-centered:after {
    content: " ";
    display: table;
}

.kanban-centered:after {
    clear: both;
}

.kanban-centered:before, .kanban-centered:after {
    content: " ";
    display: table;
}

.kanban-centered:after {
    clear: both;
}

.kanban-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    /*background: #f5f5f6;*/
    top: 20px;
    bottom: 20px;
    /*margin-left: 18px;*/
}

.kanban-centered .kanban-entry {
    position: relative;
        /*width: 50%;
        float: right;*/
        margin: 10px 8px;
        clear: both;
        border-radius: 4px;
        -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
        -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
        box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
    }

    .kanban-centered .kanban-entry:before, .kanban-centered .kanban-entry:after {
        content: " ";
        display: table;
    }

    .kanban-centered .kanban-entry:after {
        clear: both;
    }

    .kanban-centered .kanban-entry:before, .kanban-centered .kanban-entry:after {
        content: " ";
        display: table;
    }

    .kanban-centered .kanban-entry:after {
        clear: both;
    }

    .kanban-centered .kanban-entry.begin {
        margin-bottom: 0;
    }

    .kanban-centered .kanban-entry.left-aligned {
        float: left;
    }

    .kanban-centered .kanban-entry.left-aligned .kanban-entry-inner {
        margin-left: 0;
        margin-right: -18px;
    }

    .kanban-centered .kanban-entry.left-aligned .kanban-entry-inner .kanban-time {
        left: auto;
        right: -100px;
        text-align: left;
    }

    .kanban-centered .kanban-entry.left-aligned .kanban-entry-inner .kanban-icon {
        float: right;
    }

    .kanban-centered .kanban-entry.left-aligned .kanban-entry-inner .kanban-label {
        margin-left: 0;
        margin-right: 70px;
    }

    .kanban-centered .kanban-entry.left-aligned .kanban-entry-inner .kanban-label:after {
        left: auto;
        right: 0;
        margin-left: 0;
        margin-right: -9px;
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .kanban-centered .kanban-entry .kanban-entry-inner {
        position: relative;
        /*margin-left: -24px;*/
    }

    .kanban-centered .kanban-entry .kanban-entry-inner:before, .kanban-centered .kanban-entry .kanban-entry-inner:after {
        content: " ";
        display: table;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner:after {
        clear: both;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner:before, .kanban-centered .kanban-entry .kanban-entry-inner:after {
        content: " ";
        display: table;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner:after {
        clear: both;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-time {
        position: absolute;
        left: -100px;
        text-align: right;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-time > span {
        display: block;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-time > span:first-child {
        font-size: 15px;
        font-weight: bold;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-time > span:last-child {
        font-size: 12px;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon {
        background: #fff;
        color: #737881;
        display: block;
        width: 25px;
        height: 25px;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-align: center;
        -moz-box-shadow: 0 0 0 4px #f5f5f6;
        -webkit-box-shadow: 0 0 0 4px #f5f5f6;
        box-shadow: 0 0 0 4px #f5f5f6;
        float: left;
        margin-top: 6px;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-primary {
        background-color: #303641;
        color: #fff;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-secondary {
        background-color: #ee4749;
        color: #fff;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-success {
        background-color: #00a651;
        color: #fff;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-info {
        background-color: #21a9e1;
        color: #fff;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-warning {
        background-color: #fad839;
        color: #fff;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-danger {
        background-color: #cc2424;
        color: #fff;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label {
        position: relative;
        background: #f5f5f6;
        padding: 0.75em;
        /*margin-left: 50px;*/
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

/*.kanban-centered .kanban-entry .kanban-entry-inner .kanban-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
    }*/

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label h2, .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label p {
        color: #737881;
        font-family: "Noto Sans",sans-serif;
        font-size: 12px;
        margin: 0;
        line-height: 1.428571429;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label p + p {
        margin-top: 15px;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label h2 a {
        color: #303641;
    }

    .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label h2 span {
        -webkit-opacity: .6;
        -moz-opacity: .6;
        opacity: .6;
        -ms-filter: alpha(opacity=60);
        filter: alpha(opacity=60);
    }


    .modal-static {
        position: fixed;
        top: 50% !important;
        left: 50% !important;
        margin-top: -100px;
        margin-left: -100px;
        overflow: visible !important;
    }

    .modal-static,
    .modal-static .modal-dialog,
    .modal-static .modal-content {
        width: 200px;
        height: 150px;
    }

    .modal-static .modal-dialog,
    .modal-static .modal-content {
        padding: 0 !important;
        margin: 0 !important;
    }

    .kanban-col {
        width: 100%;
        margin-right: 20px;
        float: left;
    }

    .panel-body {
        padding: 15px 0 0 0;
        /*overflow-y: auto;*/
    }

    

/*.panel-heading {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
    }*/

    .grab {
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    .grabbing {
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }

    .panel-heading {
        cursor: context-menu;
    }

    .panel-heading i {
        cursor: pointer;
    }
    
    .th-booking-manage
    {
        width: 18%;
    }

    .td-time-booking
    {
        color: #3c8dbc;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        vertical-align: middle !important;
    }
/*end kanban board css*/

.permistion_profile {
    list-style-type: none;
}

.heading-table
{
    background-color: #3c8dbc;
    color: #fff;
}
.heading-table th
{
    text-align: center;
    font-size: 16px;
}
.kanban-col
{
    box-shadow: none !important;
    border: none !important;
   

}
.drag-td
{
     border-right: 1px solid rgba(230, 230, 230, .1) !important;
}
.wrap-radius-avt img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.grab .kanban-label
{
    /*padding-left: 0.75em !important;*/
/*    padding-top: 5px !important;*/
    background: rgba(230, 230, 230, 0.4) !important;
}
.grab .wrap-dot
{
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 7px;
    float: right;
    transition: 0.5s ease;
}
.wrap-dot span
{
    color: #b3b3b3;
    opacity: 0.4;
    
}

.wrap-name-dot
{
    position: relative;
}
.wrap-name-dot .wrap-dot
{
    position: absolute;
    right: -5px;
    top: -10px;
    cursor: pointer;
}
.wrap-name-dot .wrap-dot span
{
    font-size: 20px;
    font-weight: bold;
    color: #151313;
}
.wrap-radius-avt img
{
    float: right;
}
.wrap-radius-avt .booking-phone
{
    font-size: 15px;
    font-weight: bold;
}
/*popup*/
.pop-over-header-back-btn.is-shown, .pop-over.is-shown {
    display: block;
}
.pop-over {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #D6DADC;
    border-bottom-color: #C4C9CC;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    display: none;
    overflow: hidden;
    position: absolute;
    right: -9999px;
    top: -9999px;
    width: 250px;
    z-index: 70;
    -webkit-transform: translate3d(0,0,0);
}
.pop-over-header {
    height: 36px;
    position: relative;
    margin-bottom: 8px;
    text-align: center;
}
.pop-over-header-title {
    box-sizing: border-box;
    color: #838c91;
    display: block;
    line-height: 36px;
    border-bottom: 1px solid #D6DADC;
    margin: 0 10px;
    overflow: hidden;
    padding: 0 2pc;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.pop-over-header {
    height: 36px;
    position: relative;
    margin-bottom: 8px;
    text-align: center;
}
.pop-over-header-close-btn {
    padding: 10px 10px 10px 4px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.icon-lg, .icon-sm {
    display: inline-block;
    font-family: trellicons;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #999;
}
.icon-sm {
    font-size: 9pt;
    width: 19px;
}

.pop-over-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px 10px;
}
.pop-over hr {
    margin: 8px 0;
}
.pop-over-list
{
    margin:0;
    padding:0;
    text-align: center;
}
.pop-over-list li>a {
    cursor: pointer;
    display: block;
    font-weight: 700;
    padding: 15px 40px;
    position: relative;
    margin: 0 -10px;
    color: rgba(0,0,0, 0.58);
    text-decoration: none;
}
.pop-over-list li>a:hover {
    background-color: #298FCA;
    color: #fff;
}
.popover-content
{
    padding: 0 !important;
}
/*end popup*/

/*css for b.ill*/

.infor_bill {
    margin-top: 100px;
    height: 100px;
}

#hr_bill_infor {
    margin-top: 33px;
    width: 96%;
}

#image_logo_bill {
    margin-top: -20px;
    margin-left: -22px;
}

#infor_fsalon {
    margin-top: -10px;
}

.price_servive {
    padding-left: 100px !important;
}
.price_servive_all {
    padding-left: 100px !important;

}

#total_service {
    margin-left: 300px;
    margin-top: -20px;
    font-size: 15px;
}
